TABLE{
    MARGIN:0 AUTO;
    FONT-SIZE: 20PX;
    WIDTH:600PX;
}
TABLE TD{
        PADDING:6PX;
        FONT-SIZE:18PX;
        }
LEGEND{
    FONT-SIZE:24PX;
    COLOR:BROWN;
}
.SUB:HOVER{
    BORDER-COLOR:BLUE;
    BACKGROUND-COLOR: LIGHTBLUE;
}
.SUB{
    FONT-SIZE: 18PX;
    FONT-WEIGHT:NORMAL;
    WIDTH:120PX
}
.INP{
    FONT-SIZE: 16PX;
}
.INP1{
    COLOR:RGB(230, 25, 18);
    FONT-WEIGHT: BOLD;
}
