.divv {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
 
}

.text {
    margin-top: 50px;
    margin-bottom: 20px;
}
.aa {
    margin-bottom: 10px;
}
.butt {
    margin-left: 80px !important;
}
.res{
    font-size: 40px;
}